.grammar-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .text-box {
    border: 1px solid #000000;
    border-radius: 5px;
    padding: 20px;
    margin: 10px;
    max-width: 600px;
  }
  
  .text-box h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .text-box p {
    font-size: 16px;
    color: rgb(98, 160, 5);
  }
  .corrected-word {
    color: red; }/* You can change the color as per your preference */
