.butty {
/* color: black; */
    border:none;
    background: none;
    text-align:left;
    margin:none;
    font-size: 14px;
    font-family: sans-serif;

}
.annn{

    text-decoration: none;
    text-align:left;
}
.grid{
    /* color:black; */
    background-color: white;
}
/* MyLearning.css */

/* Style for the container of the data grid */
/* .data-grid-container {
    height: 400px;
    width: 100%;
    color: black; /* Set the background color to black */
    /* padding: 20px; Optional: Add padding for better layout */
  /* }
   */ 