.butty {
color: black;
    border:none;
    background: none;
    text-align:left;
    margin:none;
    font-size: 14px;
    font-family: sans-serif;

}
.annn{

    text-decoration: none;
    text-align:left;
}