/* NavBar.css */
nav{
  height: 48px;
  display: flex;
}
.appName{
  color:black;
  font-family: sans-serif;
  font-size: 20px;
  /* width: 190px; */
  height: max-content;
  margin: 10px;
  width: 12%;
  border: none;


}
.nav-links {
  list-style-type: none;
  width: 68%;
}

.nav-links li {
  background-color: transparent;
  display: inline;
  /* border: 1px solid black;  */
  color: rgb(48, 46, 46);
  font-size: 20px;/* Change the display to inline */
  padding: 17px 29px 1px 25px /* Add some space between list items */
}
.nav-links li:hover {
  border-bottom:2px solid #4646CE;
  display: inline;
  /* border: 1px solid black;  */
  color: rgb(48, 46, 46);
  font-size: 20px;/* Change the display to inline */
  padding: 17px 29px 1px 25px /* Add some space between list items */
}

/*  *.nav-links li:hover{
  background-color: rgba(132, 113, 173);
  color: white;
  /* display: cursor; */
  /* cursor: pointer;
}/ */
.nav-links > li > a {
  text-decoration: none;
  color: black;
}
.Login{
  border: none;
  height: 38px;
  background-color:black;
  border-radius: 18px;
  width: 87px;
  color: rgb(255,255,255);
  font-family: cursive;
  margin: auto;
}
  
.Login:hover{
  background-color: purple;
  color: orange;
  /* display: cursor; */
  cursor: pointer;
}

.Logintext{

color: rgb(255, 255, 255);
text-decoration: none;


}
.Logintext:hover{

  color:orange;
}