/* NavBar.css */
nav{
  height: 60px;
  display: flex;
  color: white;

}
.appName{
  font-weight: bold;
  font-family: sans-serif;
  font-size: 20px;
  height: max-content;
  margin: 10px;
  width: 12%;
  border: none;
  padding-top: 8px;

}
.nav-links {
  list-style-type: none;
  width: 60%;
}

.nav-links li {
  background-color: transparent;
  display: inline;
  color: white;
  font-size: 20px;/* Change the display to inline */
  padding: 17px 29px 20px 25px /* Add some space between list items */
}


.nav-links > li > a {
  text-decoration: none;
    padding: 15px 10px 16px;
    
    color: white;
    /* cursor: pointer; */
 
}

.links:hover{
  border-bottom: 2px solid rgb(255, 255, 255);
  cursor: pointer;
}

.Login{
  border: none;
  background-color: transparent;
  margin: auto;
}
  
.Logintext:hover{
  border: 2px solid rgb(0, 255, 0);
  cursor: pointer;
}

.Logintext{
  color: rgb(255, 255, 255);
  text-decoration: none;
  padding: 10px 11px;
  border: 1px solid white;
  border-radius: 18px
}
