/* NavBar.css */
nav{
  height: 48px;
  display: flex;
}
.appName{
  color:black;
  font-family: sans-serif;
  font-size: 20px;
  /* width: 190px; */
  height: max-content;
  margin: 10px;
  width: 12%;
  border: none;


}
.nav-links {
  list-style-type: none;
  width: 68%;
}

.nav-links li {
  background-color: transparent;
  display: inline;
  /* border: 1px solid black;  */
  color: rgb(48, 46, 46);
  font-size: 20px;/* Change the display to inline */
  padding: 17px 29px 1px 25px /* Add some space between list items */
}
.nav-links li:hover {
  border-bottom:2px solid #4646CE;
  display: inline;
  /* border: 1px solid black;  */
  color: rgb(48, 46, 46);
  font-size: 20px;/* Change the display to inline */
  padding: 17px 29px 1px 25px /* Add some space between list items */
}

/*  *.nav-links li:hover{
  background-color: rgba(132, 113, 173);
  color: white;
  /* display: cursor; */
  /* cursor: pointer;
}/ */
.nav-links > li > a {
  text-decoration: none;
  color: black;
}
.LoginBtn{
  border: none;
  height: 38px;
  border-radius: 18px;
  width: 87px;
  background-color: rgb(70, 70, 206);
  color: white;
  font-family: sans-serif;
  margin: auto;
}
  
.LoginBtn:hover{
  background-color: rgb(253, 241, 12);
  color: rgb(0, 0, 0);
  /* display: cursor; */
  cursor: pointer;
}

.Logintext{

color: white;
text-decoration: none;
font-size:16px ;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;


}
.Logintext:hover{
  color:black;
  text-decoration: none;
font-size:16px ;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}