.main{
    /* border: 1px solid black; */
    margin-top: 10px;
    padding: 0;
    color: white;
    /* background-image: url('../assets/hlo.jpg'); */
}

.recorder{
    display: flex;
    flex-direction: column;

}
.questions{
    font-size: 30px;
    height: max-content;
    margin: 10px auto;
    padding: 10px;
    width: 75%;
}

.image{
    margin: 30px 0;
    padding: 20px
}
.image img{
    height: 180px;
    width: 180px;
}

.buttons{
    border-top: 2px solid rgb(255, 255, 255);
    position: fixed;
    bottom: 0;
    width: 100%;
    margin: 5px auto;
    padding: 15px 0;
}

.buttons button{
    height: 50px;
    border: none;
    background-color: rgb(70, 70, 206);
    border-radius: 18px;
    width: 135px;
    color: white;
    font-size: 17px;
    font-family: cursive;
    margin: 5px;

}
.hello {

    text-decoration: none;
    cursor: pointer;
    color:white;
}

